
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: ;
  --secondary-color: ;
  --acent-color: ;
  --black-color: ;
  --white-color: ;
  --margin-color: ;
}

.light-text {

}

.dark-text {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

footer {
  position: fixed;
  bottom: 0;
}

